[2015-09-28 09:09] wbuchanan opened #3 "Metadata JavaIOException"
On behalf of Kit Baum:

[code]

[2015-09-28 09:14] wbuchanan opened #4 "Broken links in jsonio help file"
On behalf of Kit Baum:

Link at the foot of the helpfile to GitHub.com does not work.

[2015-09-28 09:29] wbuchanan commented on #3
Patched bug.  See commit 88bc31d7ad88d3f92c9032224cff3c1ed3524bca for further info.

[2015-09-28 09:29] #3 closed

[2015-09-28 09:29] wbuchanan commented on #4
Patched bug see commit #b9fc35a525b3b9224878f0b25e33381f5c17fd52 for additional info.

[2015-09-28 09:29] #4 closed

[2015-11-20 16:43] wbuchanan opened #8 "Method for serializing data only returns duplicate object"
jsonio in 1/5, what(data) returns the data object twice with two different names.

[2015-11-20 16:50] wbuchanan commented on #8
Fixed bug in commit ID a004ff50b1159615925d92f36d01bd7c3af0e6f8

[2015-11-20 16:50] #8 closed

[2015-11-20 21:58] wbuchanan opened #10 "Duplicate object with record method"
jsonio, what(record) obid(74)
{
  "_id" : 74,
  "name" : "record",
  "values" : {
    "mpg" : 17.0,
    "price" : 11995.0,
    "headroom" : 2.5,
    "rep78" : 5.0,
    "length" : 193.0,
    "weight" : 3170.0,
    "displacement" : 163.0,
    "turn" : 37.0,
    "trunk" : 14.0,
    "make" : "Volvo 260",
    "gear_ratio" : 2.9800000190734863,
    "foreign" : 1.0
  },
  "data" : {
    "mpg" : 17.0,

[2015-11-29 13:46] #10 closed

[2016-02-16 15:37] wbuchanan opened #13 "Handling of date/time values"
jsonio command is not handling datetime types in a good way:

[code]

It'd be better to get the formatted string values for the dates and/or create Java date values to substitute in place of the SIF dates.

[2016-02-16 20:34] wbuchanan commented on #13
Patched the date/time bug (as best as understood) :

[code]

[2016-03-19 10:52] wbuchanan commented on #13
This is fixed on the dev branch.

[2016-03-19 10:52] #13 closed

[2016-04-28 09:13] wbuchanan opened #15 "Issue in jsonio wrapper"
Issue when trying to use key/value import functionality.  Error thrown when calling the keyvalue subroutine due to error on syntax line.  Need to include line continuation characters after the opening square bracket.

[2016-05-05 07:21] wbuchanan commented on #15
Closing issue #15 addressed in [this commit] (https://github.com/wbuchanan/StataJSON/commit/93050c18eed0b868fedb033ada6eb42f72be732e), also reinforced date/date time handling by revising StataJavaUtilities.

[2016-05-05 07:21] #15 closed

[2016-07-01 14:22] methodds opened #16 "combination with plotly"
Hi,

many thanks for just another cool package I found created by you :)

Would it be possible to use this to feed data into the [plotly-API](https://plot.ly/javascript/)? This could be a nice way to visualize data prepared with Stata in the web.

[2016-07-03 10:18] wbuchanan commented on #16
Just looked through the link you sent a few minutes ago.  I'm not sure it'd be directly aligned with the scope of jsonio to directly build in an interface with the Plotly JavaScript library only because it would make things less modular.  That said, it probably wouldn't be terribly difficult to throw together something that could handle some of the boilerplate to take the exported JSON and push it

[2016-07-14 15:51] luckykong opened #17 "how to import json with Chinese characters?"
when i run
 `jsonio kv, file(http://maps.google.cn/maps/api/geocode/json?address=ningyang&language=zh-CN&region=cn)`
those Chinese characters will be transformed into "???"

how to solve this mistake?

[2016-07-14 16:00] wbuchanan commented on #17
Hi @luckykong,

Which version of Stata are you using?  This is probably unavoidable with Stata 13, but I'll see what I can figure out for Stata 14.  It may be possible to solve things by adding a parameter to pass an encoding value.

Thanks again,
Billy

[2016-07-15 15:32] luckykong commented on #17
thank you very much for your reply.
I am using Stata 14, and looking forward for your solution

[2016-08-03 08:39] wbuchanan commented on #17
@luckykong still haven't been able to figure out a solution to the Chinese character encoding issue, but can you return the payload using English?  If you change your URL to:

http://maps.google.cn/maps/api/geocode/json?address=ningyang&language=en

You shouldn't have an issues with things, although I can understand there may be words that don't have a reasonable translation.  My best guess is tha

[2016-08-03 10:21] luckykong commented on #17
Thank you for your hard work.
It's a good advice to change it to English, and i will follow your advice in current project.
Hope the next version of Stata software could solve this question.

[2016-09-11 14:05] #17 closed

[2016-11-10 11:26] wbuchanan opened #18 "Error returning JSON object in returned local macro"
If the file is too large, the program errors out when attempting to create the local macro `thejson` to return from `jsonio out`.  Need to have a way to identify locally determined maximum macro length and then texting the length of the JSON object to test whether or not the macro can be created and subsequently returned.

[2016-11-21 20:12] wbuchanan commented on #18
This was fixed on the dev branch.  Need to merge the change with the master branch.

[2016-11-21 20:12] #18 closed

[2016-12-03 15:10] wbuchanan commented on #16
@methodds after looking into this a bit more, it would require a significant amount of error for people to use a paid service (assuming others are using the service).  If I get the time I might consider doing something involving AngularJS, but don't anticipate that happening anytime in the near future.

[2016-12-03 15:10] #16 closed

[2017-04-11 18:53] wbuchanan opened #19 "jsonio out with if/in qualifier returns the tempvar in the output"
Using `jsonio out mpg weight if rep78 == 3, w(all) filenm(somefile.json)` will include the tempvar created when handling the `if` qualifier in the command above.  The file should not include this variable though.

[2017-04-12 11:02] wbuchanan commented on #19
Stupid careless coding error on my part.

[2017-04-12 11:02] #19 closed

[2017-05-23 21:29] jontonsoup opened #20 "InJSON.insheetUrlToVars Exception on JSON"
Hi!

Thanks for this library. I am getting this error on this JSON string:

[code]

On json input:

[code]

[2017-05-23 22:11] wbuchanan commented on #20
Could you let me know which version you are using?  This definitely seems like a bug, but I can't replicate the exact error you got.

Sent from my iPhone

[2017-05-23 22:22] jontonsoup commented on #20
@wbuchanan I downloaded the latest version from ssc today and am using stat 14.

The distribution date is:    Distribution-Date: 20170504

Thanks!

[2017-05-25 19:39] wbuchanan commented on #20
@jontonsoup
I think this might be an issue with the syntax that you used:

[code]

I copied the JSON that you included above into the file named file.json.  It should work for you, but if you can try the syntax I used above and it works on your system then I can add it to the TODO list of modifying the documentation.

[2017-06-07 15:38] yichenx opened #21 "Stata crashes after running “ggeocode”"
I'm trying to geocode some addresses and was using the jsonio package. It didn't work very well-stopped working when the address cannot be found. So I split all my addresses into files with only one address and try to geocode it using "ggeocode" command.
[DO.txt](https://github.com/wbuchanan/StataJSON/files/1058551/DO.txt)

It worked for the first several files but later on stata refuses to take a

[2017-06-07 15:48] wbuchanan commented on #21
@yichenx
Just looking at the file that you attached my guess is that you are hitting a rate limit on the API.  You can also simplify the code quite a bit by letting the program handle iterating over the records in the file for you.  It will execute much faster without all of the file reading/loading as well.  What is the last record that returns the geocoding info?  If it is 2,500 after you've not

[2017-06-07 16:00] yichenx commented on #21
I am not quite sure how many records I have in the past 24 hours since I ran part of the code several times. But it should be around 2,500. Now my stata also crashes when I'm running code like `import delimited` for .csv files-the program quit without giving any output. Not sure if the `Java initialized     no` is part of the reason? I'm using Stata 14 on my windows 10 computer. Thank you!

[2017-06-07 16:08] wbuchanan commented on #21
From the info on the [StataList](http://www.statalist.org/forums/forum/general-stata-discussion/general/1396610-stata-stopped-working-when-using-java-api-and-geocoding-related-commands) post, you might be having issues due to the `java_heapinit` parameter being set so high.

Try:

[code]

To reduce the amount of memory allocated to the JVM when it spins up.  That might help a bit.

[2017-06-07 16:29] yichenx commented on #21
I set it to 4096 now. But it still shows `Java initialized no`. It seems like `ggeocode` stops working whenever there's an error in the address list. It will leave missing value for the remaining records in the files. For example, "2952 Saunders Settlement Road, Cambria township, NY 14132" is the first address but Google cannot find this address, `ggeocode` will stop here and put missing value in

[2017-06-07 16:35] yichenx commented on #21
I tried reinstall my stata, java and 14.1 updates. All problems solved. Have tried all these last night but didn't help. I guess your suggestion of `set java_heapinit 4096, perm` helped me out. Thanks a lot!

[2017-06-07 18:21] wbuchanan commented on #21
@yichenx
If you want to, submit a different ticket with the issue you mentioned above regarding the missing records and I'll check into that.  I'll close this issue since it sounds like you have this one solved.

[2017-06-07 18:21] #21 closed

[2017-06-07 18:22] wbuchanan commented on #20
@jontonsoup
I've not heard anything back yet and am assuming the example I provided above fixed things for you and will close this issue now.  If it is still a problem feel free to let me know and I can try to look further into it.

[2017-06-07 18:22] #20 closed

[2017-06-07 19:07] jontonsoup commented on #20
Apologies — it does work.

Thanks!

On Wed, Jun 07, 2017 at 2:22 PM William Buchanan

<
mailto:William Buchanan <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Closed
https://github.com/wbuchanan/StataJSON/issues/20
.

—

You are receiving this because you were mentioned.

Reply to this email directly,
https://github.com/wbuchanan/StataJSON/issues/20#e

[2017-06-08 01:24] yichenx opened #22 "error message for "ggeocode""
I'm trying to geocode some addresses.
[DO.txt](https://github.com/wbuchanan/StataJSON/files/1059692/DO.txt)

But the code stops working and gives the following error.

`java.lang.NoSuchMethodError: org.paces.Stata.MetaData.Meta.getStataobs()Lorg/paces/Stata/Observations/Observations;
        at org.paces.Stata.Google.DataRetrieval.<init>(DataRetrieval.java:39)
        at org.paces.Stata.Google.Goo

[2017-06-09 11:31] wbuchanan commented on #22
@yichenx
I think this is related to a dependency update that I made.  I'll try to see if I can patch this over the weekend.  I'd expect everyone will need to update this a bit more as I modify one of the underlying dependent libraries (StataJavaUtilities), but my longer term plan is to have that library get installed separately to avoid any classpath issues like what happened in one of the other r

[2017-06-11 01:24] yichenx commented on #22
Thank you!

[2017-06-12 00:01] wbuchanan commented on #22
@yichenx

I got bogged down with work this weekend, but haven't forgot about looking into this.  I don't think it will be a difficult fix and just wanted to keep you in the loop.

[2017-06-12 10:31] wbuchanan commented on #22
@yichenx

I tried last night using the examples in the help file and didn't get the error.  Can you see if you can reproduce the error if you use those examples?  Type `help ggeocode` to see the examples I'm referencing.  There are some fields that may not always populate, but I was able to get the latitude and longitude values for each of the examples as well as the other values using the optiona

[2017-06-12 10:34] wbuchanan commented on #22
Also if you have `brewscheme` installed on your machine, you'll want to update that :

[code]

There is a dependency issue with the older versions of `brewscheme`.  I'm going to end up decoupling some of that stuff in the not too distant future, but this would be a way to solve the problem if it is a dependency issue.

[2017-06-12 16:00] yichenx commented on #22
I followed your instruction but somehow I ran into same error message. Here's the error message when I ran the examples:
`
java.lang.NoSuchMethodError: org.paces.Stata.MetaData.Meta.getStataobs()Lorg/paces/Stata/Observations/Observations;
        at org.paces.Stata.Google.DataRetrieval.<init>(DataRetrieval.java:39)
        at org.paces.Stata.Google.Google.geocode(Google.java:26)
`

When I tried to

[2017-06-12 16:21] wbuchanan commented on #22
So you should:

[code]

This is likely an issue with the Java classpath and one of the plugins used in older versions of brewscheme relying on a slightly earlier version of StataJavaUtilities.

[2017-06-12 16:24] yichenx commented on #22
Yes. I did run the above code. The error message was after I install the new `brewscheme`:

org.paces.Stata.MetaData.Meta.getStataobs()Lorg/paces/Stata/Observations/Observations;
at org.paces.Stata.Google.DataRetrieval.(DataRetrieval.java:39)
at org.paces.Stata.Google.Google.geocode(Google.java:26)

[2017-06-12 16:25] wbuchanan commented on #22
@yichenx
Ok thanks for the info.  I'll try to look into this during the week at some point.  Shouldn't be too difficult of a change to find/make.

[2017-06-12 16:26] yichenx commented on #22
@wbuchanan Thanks a lot!

[2017-07-10 10:08] wbuchanan commented on #22
@yichenx
Can you copy/paste the code from the file above into one of the comments?  I keep losing track of the file and having to download it again and am trying to keep my file system from getting too cluttered.

[2017-07-12 19:10] yichenx commented on #22
Sure.

local    maxid2    =    1176
forvalues x=1/2{
clear all
display `x'
forvalues i=1/`maxid`x'' {
use temp\geocode`x'.dta, clear
keep if id==`i'
ggeocode address, ret(viewport address bbox)
save temp\geocode`x'_`i'.dta, replace
}
}

[2017-08-23 05:54] guilhemc opened #23 "error message with jsonio"
Hi,

Thanks for this great contribution.

I am trying to retrieve online data in the json format and turn it into stata 14.2.
I get the following error code :

java.lang.IndexOutOfBoundsException: Index: 10, Size: 10
        at java.util.ArrayList.rangeCheck(ArrayList.java:653)
        at java.util.ArrayList.get(ArrayList.java:429)
        at org.paces.Stata.Input.FlatJSON.flatten(FlatJSON.java:20

[2017-08-23 08:04] wbuchanan commented on #23
Not sure where things are breaking down just yet, but Jackson is bound in the library already.  If the version you put on the classpath is different it can create other issues.  You shouldn't be fine with jsonio.jar in the classpath.

[2017-08-23 08:28] guilhemc commented on #23
Thanks for your answer.
I have removed the jackson's .jar and kept, but the issue still remains.

[2017-08-23 20:49] wbuchanan commented on #23
@guilhemc
Removing the other .jar wasn't going to solve the issue at hand, just eliminate a potential issue from creeping up down the road.  It will probably take me a few days to get around to this, but feel free to pester me to make sure it stays on my radar in the meantime.

[2017-09-12 20:54] guilhemc commented on #23
@wbuchanan
Following your suggestion, I am pestering you about this issue. Apologies if this reminder is coming earlier that is deemed reasonable in Github: I have little experience of that platform.

[2017-09-12 21:07] wbuchanan commented on #23
@Guilhemc

Not a problem at all.  This did fall off my radar and I anticipating it still taking me a bit of time to get it higher in my queue (just starting to finish unpacking and getting settled into a new house).

[2017-09-27 13:41] guilhemc commented on #23
No problem, hope you are settling well !

[2017-10-22 20:38] guilhemc commented on #23
@wbuchanan
Sorry to pester you again, but would you have had a chance to look into that issue ?
Many thanks !

[2017-10-29 11:07] wbuchanan commented on #23
@guilhemc
I was looking at this a bit yesterday morning and came across a different issue, which is still important to address.  Still trying to identify exactly where the bug you encountered is located.

[2017-10-29 11:12] wbuchanan opened #24 "Parsing of array of objects returns incorrect lineage"
Used following JSON object for testing:

[code]

The data returned used each attribute name and appended a suffix of _0.  So the last object in the array above had a lineage like:

[code]

The lineage should preserve the hierarchy and not create this new structure.  Need to find a way to handle an array of objects where the lineage would be something like `root_#` or `id_#` and the numeric value w

[2017-10-29 11:49] wbuchanan commented on #23
@guilhemc
I think I may have fixed the issue you were running into while trying to address the simpler issue with the lineage for cases of an array of objects that don't contain any objects or arrays themselves (e.g., where each object in the array is essentially a row and each attribute a column).  This might require a little manual work on your part to help me test, but if you download the updat

[2017-10-29 13:21] guilhemc commented on #23
@wbuchanan
Many thanks !
This now works with kv.

Note however, that I get the following error message when I try the rv option:
java.lang.ArrayIndexOutOfBoundsException: 3
        at org.paces.Stata.Input.InJSON.insheetUrlToVars(InJSON.java:214)

Code used:
jsonio rv, file("http://api.nightlights.io/months/1993.3-2013.12/villages/709000300016300")

[2017-10-29 13:33] wbuchanan commented on #23
Cool.  Thanks for the info.  I’ll try to look into the rv issue as I get time to dig into things.

[2017-10-30 08:30] wbuchanan commented on #23
Did you try without using the quotes?  When I'm reading the data from a file it seems to work.  I just recompiled after trying to address another potential place where an error could occur and now it looks like:

[code]

[2017-10-30 08:36] guilhemc commented on #23
@wbuchanan
I had not tried, but I get the same error message:
jsonio rv, file(http://api.nightlights.io/months/1993.3-2013.12/villages/709000300016300)
 gives me:
java.lang.ArrayIndexOutOfBoundsException: 3
        at org.paces.Stata.Input.InJSON.insheetUrlToVars(InJSON.java:214)

[2017-10-30 08:41] wbuchanan commented on #23
@guilhemc
Ok.  Oddly enough it doesn't have that issue if the content is stored in a file, but I think I see the issue.  Should be easier to fix.  Can you create a new issue for this particular issue since it is something very different from the previous issue (even though it is a Java exception being thrown it is an issue with the syntax being used in Stata to call the method).

[2017-10-30 08:44] guilhemc opened #25 "Error Message with the rv option"
Hi,

the rv option gives me an error message:

jsonio rv, file(http://api.nightlights.io/months/1993.3-2013.12/villages/709000300016300)
gives me:
java.lang.ArrayIndexOutOfBoundsException: 3
at org.paces.Stata.Input.InJSON.insheetUrlToVars(InJSON.java:214)

while the kv option works fine.
Would you happen to know what may be causing the issue ?
Many thanks,

[2017-10-30 08:44] guilhemc commented on #23
@wbuchanan
Done.
Thanks once again for your incredible responsiveness !

[2017-10-31 17:23] wbuchanan commented on #24
Issue patched in most recent commit to issue2 branch; merged into dev 31oct2017.  Now returns :

[code]

[2017-10-31 17:23] #24 closed

[2017-10-31 17:24] wbuchanan commented on #25
@guilhemc
This should be fixed on the dev branch of the repository.  I'll try to get a build put together and pushed to the gh-pages branch this weekend so users can reinstall with more ease.

[2017-10-31 17:24] #25 closed

[2017-10-31 17:24] wbuchanan commented on #23
@guilhemc
Sorry it took me so long to get around to this.  This is fixed in the dev branch now and I'll try to get things put together to push an update to the installation page over the coming weekend.

[2017-10-31 17:24] #23 closed

[2017-11-01 11:06] Stata-Club opened #26 "The program does not support Reading in Chinese character"
hello!
When I using this program "jsonio" ,I found that this program does not read JSON file well when the file concludes Chinese character same as "北京市".These characters will be converted to "???" in Stata.
This problem has a very negative impact on Chinese users.

here is a example JSON file

[code]
Thank you :)

[2017-11-01 19:04] wbuchanan commented on #26
@Stata-Club
Is there a specific API returning these data?  Do you know what string encoding is being used for the payload?  And which version of Stata are you using?

I just tested things with the JSON object you provided above and the characters were correctly read.  Perhaps it is an issue with specifying the string encoding within Stata?

[code]

[2017-11-01 20:39] wbuchanan commented on #25
[code]

That should take care of things now.

[2018-01-17 20:54] mh5046a opened #27 "ggeocode fails with java null pointer exeception error"
I installed application components 2 months ago (Nov 2017) and ran sample trials in Stata without any problem.  I recently tried to execute on a new data file and received error messages.  I received the same error message when I tried to execute on original dataset that worked; it also failed when I attempted to execute using sample data from help file.  The output is pasted below.  Thanks for yo

[2018-01-18 10:59] wbuchanan commented on #27
@mh5046a
As a quick FYI.  I edited your comment to make the script you provided easier to copy/paste for replication purposes.

[2018-01-18 11:51] wbuchanan commented on #27
@mh5046a
At the moment it seems like some odd issue with a rate quote limit that may be being caused by the calls being issued too rapidly.  I used what was above and was able to get varying degrees off success, but it had nothing to do with the addresses or bounding boxes being available in the returned object.  I added some debugging messages to the Java binary to try tracing the problem:

[code

[2018-01-20 21:49] domesticmouse commented on #27
Given the error message about registering for an API Key, and the quoted request URL not containing an API Key, I'd guess you are making an API request without an API key.

[2018-01-20 22:19] wbuchanan commented on #27
@domesticmouse
If it was only an issue with an API key should it return any results?  The more concerning issue to me is that the API request isn’t returning consistent results (e.g., sometimes it returns the geocoded results and others it returns the error with the same input).

[2018-01-20 23:20] domesticmouse commented on #27
I'd need to see the full request to the Google Maps Web Service APIs to be able to fully understand what is going wrong. Also, a better place to ask questions is [Stack Overflow](https://developers.google.com/maps/support/#support-on-stack-overflow) and submit bugs on our [issue trackers](https://developers.google.com/maps/support/#issue_tracker).

[2018-02-22 10:52] wbuchanan commented on #27
@mh5046a
Following @domesticmouse's advice, I submitted an issue to Google's issue tracker.  The issue seems to be with the way that requests without an API key are currently handled (e.g., there is now a shared quota which caused the failures that you noted).  If you request a free API key from Google you can pass that API key to the `apikey()` parameter of `ggeocode`.  If you do that you should

[2018-02-22 10:55] wbuchanan commented on #22
@yichenx
The example code you have above is not valid Stata code.  That said, you'll want to obtain an API key from Google to use ggeocode.

[2018-02-22 17:27] wbuchanan opened #28 "Moving issue from wrong repository"
See [Stata Java Utilities - Issue #1](https://github.com/wbuchanan/StataJavaUtilities/issues/1).

[2018-02-22 20:33] mh5046a commented on #27
Hi,

Well not sure why but still having same issue.  Can you trace that it is
actually using the api key specified?  I generated a key and attempted to
run against file with 500 records (within limits of daily usage).  Failed
returning same error messages as before.  I then re-ran on the sample data
(9 records) it worked.  I tried sample data again later and it failed.
Generated new key and still

[2018-02-23 11:33] wbuchanan commented on #27
@mh5046a
In the example above I had included a bunch of debugging messages in the Java source code and found that when a value is passed to the apikey parameter the java binary didn't construct the URL with : `&key=` but used `key=`.  So the query string wasn't being constructed correctly.  I can try checking on things again since I just installed all of this again on a work machine.  I'll let you

[2018-02-23 11:43] wbuchanan commented on #28
@ViscidKonrad
Here is an example that I just ran on a work machine.  Both `brewscheme` and `strutil` were installed on the same machine. I uninstalled them and then ran the following example.  There are several other packages that I've developed that use Java plugins, but even with brewscheme and strutil installed on the machine it didn't have any issues.  My best guess is that you have an older v

[2018-02-23 11:48] wbuchanan commented on #27
@mh5046a
I just uninstalled all versions of `brewscheme` and `strutil` and `jsonio` from the workmachine and freshly installed `jsonio`:

[code]

I ran the same example that was listed above with my API key on that other machine and it worked with out a problem.  You may have multiple versions of `jsonio` on your system.  You can use `ado, find(jsonio)` to see how many versions you might have on y

[2018-02-23 15:12] mh5046a commented on #27
Hi,

I verified that version of  jonsio installed is v 0.0.8.  I then downloaded
jsonio.jar from dev that was compiled yesterday and replaced old jar file,
rebooted, and tried again. Still the same issue.  Is there something else I
need to download in addition to single jar file?  Other components I need
to uninstall/reinstall??

Thanks.

Michael Hatch
PhD Candidate, American University
Department

[2018-02-26 22:38] wbuchanan opened #29 "Add method to set default missing value"
`jsonio` currently calls the `DataSet.getData()` method without passing a value to the `missingValue` parameter.  Either there needs to be a way in [Stata Java Utilities](https://github.com/wbuchanan/StataJavaUtilities) to look up the appropriate Stata missing value or `jsonio` needs to include an option to map missing values to a user specified missing value.

[2018-05-29 13:50] ablouin1 opened #30 "json url will pull into kv but not rv"
For example, trying to pull from the following:

https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=balanceSheetHistoryQuarterly

the command:
jsonio kv, file("https://query1.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=balanceSheetHistoryQuarterly")

works pretty well but the same command replacing kv with rv produces missing values. It's not that big a deal, I can

[2018-07-16 01:15] m2hurst opened #31 "JSON url code resulting in -break- error"
I'm having trouble downloading Amazon API JSON data into Stata directly using the jsonio program. My data address is
https://s3.amazonaws.com/ingame-prod/users/a4cdea80-1d8e-11e8-95f7-a77e031e7644/games/pga-20180325-wgc-dell-morning/score.json
My Stata code is jsonio kv, file("https://s3.amazonaws.com/ingame-prod/users/a4cdea80-1d8e-11e8-95f7-a77e031e7644/games/pga-20180325-wgc-dell-morning/score.

[2018-07-16 02:13] wbuchanan commented on #31
@m2hurst
Which version of JSONIO are you using?  This seems very similar to something that came up in issue #23.  Perhaps you might need to reinstall from the GitHub location to make sure you have the most up to date version of the program.

[2018-07-16 13:25] m2hurst commented on #31
I have the most recent version. I think it has something to do with how the JSON file is written. It doesn't really lend itself to the kv structure. It imports with the rv command, but all the values are blank.

[2018-07-16 13:34] wbuchanan commented on #31
@m2hurst
I see what you mean now and am wondering what is happening to create the issue.  I'll try to look into it later this week to see if I can figure out what is happening with it.

[2018-08-03 13:31] wbuchanan commented on #31
@m2hurst
Just started digging into this a bit more and the issue seems to be with the formatting of the string constructed by the webservice that is buiding the JSON.  While debugging with the same end point that you provided, the Jackson JSON library threw an exception:

[code]

If you scroll down a little bit at [json.org](https://www.json.org/), you'll see that by definition control characters

[2018-08-03 13:33] wbuchanan commented on #30
The problem is actually with the way that the command is being specified above.  I definitely need to update the help file/documentation, but you need to pass the observation number to the `obid` parameter:

[code]

[2018-08-03 13:33] #30 closed, assigned to wbuchanan

[2018-08-04 20:01] clavedark commented on #27
Sorry to revisit this - I'm having the same problem, running most recent version 0.0.8 installed today, others removed, Stata v15, OS 10.13.6, and including API key.

I've run the sample from the help file several times - it works about 1/2 the  time, the other half return this error:

[code]

My own data, I get between zero and 40 returns before this error (I have about 1700 observations to geolo

[2018-08-04 20:24] wbuchanan commented on #27
@clavedark
Sorry just noticed that you were using an API key.  In that case it very well could be a query rate issue.  I’ll try to put together an example with addresses that I can use to test that.  The only other reason I could think of would be that some locations may not be found and there wouldn’t be a bounding box returned in the JSON payload, but I’ll have to try to find a case that might d

[2018-08-05 00:24] clavedark commented on #27
thanks - I'd considered that some addresses fail (which in my data is likely), but repeating over the same sample, sometimes they succeed, and other times it crashes and reports out the error I posted earlier. I'll continue to work on it and will share anything that might be helpful. Thanks again.

Adding ... what I've done is execute the same snippet of code using `ggeocode` on the same sample mu

[2018-09-24 14:15] JanDitzen opened #32 "jsonio returns break"
Hi,
I am trying to download comtrade data from their json API. Occasionally jsonio aborts with error message 1 (i.e. like if I would press the break button). Using _set trace on_, the last command line reads:
javacall org.paces.Stata.Input.InJSON insheetUrl, args(`"https://comtrade.un.org/api/get?r=36&px=HS&ps=1990%2C1991%2C1992%2C1993&p=all&rg=all&cc=2701%2C270119&max=50000&type=C&freq=A"' ".*")

[2018-09-24 14:24] wbuchanan commented on #32
@JanDitzen
Can you provide an the code that you ran?  I can't tell how the information above was generated and need to recreate it.  Also, if you could provide a copy of the error message that gets returned that would be helpful/useful as well.

[2018-12-19 16:31] JanDitzen commented on #23
Are there any news on this? I have the same problem. I would like to load all country definitions from comtrade into Stata (from: https://comtrade.un.org/data/cache/partnerAreas.json).
If I run
`jsonio kv, file("https://comtrade.un.org/data/cache/partnerAreas.json")`

Stata returns the following:

I tried to save the json file and open it from the harddrive using the nourl option and the same erro

[2018-12-21 11:12] wbuchanan commented on #31
@m2hurst

It seems like the only potential way to handle the control characters would be to use the streaming architecture with Jackson.  That would basically mean rewriting a non trivial portion of the code base.  At this time I definitely wouldn’t feel right about trying to put any timelines on things, but in the long term I have been wanting to rewrite things to make it easier to maintain and r

[2018-12-21 11:14] wbuchanan commented on #27
I think that is correct.  I’ll try to see how easily I can add something to avoid rate issues (e.g., sleeping for half a second or so between API calls, etc...).

[2018-12-21 11:22] wbuchanan commented on #23
@JanDitzen
Can’t remember the specific open issue, but i believe someone else also had an issue with the comtrade API.  In the instance I am thinking of, the problem is that the API is including control characters in the payload which breaks the parsing since they are not valid characters in the JSON specification.  This might be unrelated, but it’d be helpful if you were able to respond to Issue

[2018-12-21 12:35] JanDitzen commented on #23
Apologies, I thought I replied here. I managed to solve the issue by re-installing jsonio and using the version from git hub rather than ssc. It seems that the jsonio.jar in the ado folder made the difference.
Thanks for the help.
Best,
Jan

[2018-12-21 13:00] JanDitzen commented on #32
@wbuchanan thanks for coming back to me and apologies for not replying earlier. The problem occurs if the number of maximum requests per hour is reached. I build an artificial example here (I decided not to use the code environment here because it kills the locals in the stata code and attached the do file as well):
____________________________________
clear all
local counter = 1
forvalues year =

[2019-01-23 08:27] homecls commented on #26
The program does not support **Writing** in Chinese character！ what should I do？

[2019-01-23 11:26] homecls opened #33 "The program does not support writing in UTF8 or Chinese character！ what should I do？"
The program does not support **writing** JSON object to disk in UTF8 or Chinese character！
However, does support **writing** JSON object to stata console in UTF8 or Chinese character！

 what should I do？

[2019-01-23 12:01] wbuchanan commented on #33
Can you provide a reproducible example?  And can you also include which version of Stata and `jsonio` you are using?  It may be related to the accessor methods that were present in Stata 14 when the program was developed.  If that is the case I am always open to collaborating with others who can help to address those issues.  Otherwise it will likely take me a fair amount of time to trace, identif

[2019-01-23 12:44] homecls commented on #33
@wbuchanan Thanks !!
**the Jsonio version:**  Distribution-Date: 20170504
**the stata version:** se/15

**stata code:**

[code]

**the result in the json file** is
{
  "source" : "Stata Data",
  "name" : "DataSet",
  "data" : [ {
    "Nation" : "US",
    "No" : 1.0
  }, {
    "Nation" : "ä¸­å½",
    "No" : 2.0
  } ]
}

**the result should be**
{
  "source" : "Stata Data",
  "name" : "DataSet",

[2019-01-25 11:24] Stata-Club commented on #26
I suggest that [insheetjson] program will solve it. you can type "ssc install insheetjson" to download.

At 2019-01-23 16:28:00, "homecls" <notifications@github.com> wrote:

The program does not support Writing in Chinese character！ what should I do？

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-25 12:06] wbuchanan commented on #26
@Stata-Club
I don’t think insheetjson provides a viable solution for writing JSON data to a file.  I still haven’t had a chance to look into the issues with writing to disk, but think it might be related to the accessor methods from the Java API from version 14.  Once I am able to look into things and verify I will update the issue.

[2019-10-08 19:43] adanaee opened #34 "jsonio java.lang.reflect.InvocationTargetException error"
Hi,
I was hoping to get some insight on this issue.
When I try to run this command:
`jsonio kv, file("C:\Users\andis\OneDrive\Documents\FOTN\output2.json") nourl`

I get the following error:
`java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(

[2019-10-08 19:45] wbuchanan commented on #34
@adanaee
Are you able to share the file that you were trying to read in?

[2019-10-08 19:45] #32 closed, assigned to nobody

[2019-10-08 19:47] wbuchanan commented on #34
@adanaee
Also, do you have `brewscheme`, `StataOS`, `StataFileSystem`, and/or any of the other programs I've developed using Java plugins installed on your machine?  This issue https://github.com/wbuchanan/StataJavaUtilities/issues/1 is related and it ended up being a classpath resolution issue.

[2019-10-08 19:49] adanaee commented on #34
Sure thing, this is what I am trying to read:
[output2.txt](https://github.com/wbuchanan/StataJSON/files/3704244/output2.txt)

[2019-10-08 19:50] adanaee commented on #34
+No, I don't have those program.

[2019-10-18 13:31] adanaee commented on #34
@wbuchanan
Quick update: The error goes away when I remove the square brackets at the start and end of the file. Not sure if this is a bug...

[2020-03-24 19:21] arpie71 opened #35 "java.lang.reflect.InvocationTargetException error with one field returned"
I am getting a java error with the following json data:
{"count": 10, "results": [{"id": "1976BELGRA00144", "name":""}, {"id": "1976BANGKO14711"}, {"id": "1977BANGKO25619"}, {"id": "P750089-0780"}, {"id": "1973LONDON10203"}, {"id": "1978USNATO07178"}, {"id": "1974STATE096615"}, {"id": "1978SALTT A-2053_4"}, {"id": "1976NATO04964"}, {"id": "1979LAGOS02592"}], "page_size": 10}

All the other json da

[2020-04-10 13:31] elektrotiko opened #36 "How do I download from PwWeb-based API with "Post"-function?"
Hi

Is there a way to get jsonio to work with Pw-Web-based API that runs with "Post-"function?

See an example here: http://www.statistikdatabasen.scb.se/sq/85947

In the instruction for API, the website says:

"POST the following JSON query to the URL below to access this table from your application.
"
{
  "query": [
    {
      "code": "Region",
      "selection": {
        "filter": "vs:RegionK

[2020-04-10 13:55] wbuchanan commented on #36
@elektrotiko
I'm not sure about the architecture of the application you are attempting to connect to, but if it is a RESTful API you should be able to unfold all of the query parameters into a URL from which to specify the request.  There isn't currently any support for HTTP/S POST method calls when retrieving data from a URL.

[2020-04-10 14:00] elektrotiko commented on #36
Thanks for a quick reply! Is there any other Stata package that has that functionality?

[2020-04-13 19:54] wbuchanan commented on #36
@elektrotiko
Sorry for the delayed response.  The best potential solution that might get you somewhere would probably involve using Curl from within Stata.  If you have StataOS installed (https://github.com/wbuchanan/StataOS) you might be able to parse things in a way that allows you to grab the result set fairly easily or could potentially write the result set directly to a file and then read it

[2020-04-13 20:42] #36 closed, assigned to wbuchanan

[2020-08-11 06:51] py-mgmt opened #37 "json seprated by "\n""
My "json" file looks like below (each row is separated by \n). I can use Python pandas to read 2 rows from the file. However, jsonio only read the first row.
  {
    "villagecode":"709000300016300",
    "year":1993,
	"month":3,
	"satellite":"F10",
	"count":18,
	"vis_mean":"46.3361",
	"vis_sd":"17.3630",
	"vis_min":"15.3176",
	"vis_median":"57.5855",
	"vis_max":"59.6481"
  }
{
  "villagecode":"7090

[2021-01-27 19:06] emawbgit commented on #34
Hello, I am having the same error message displayed in this thread. It happens when I import a huge number of json (>60 in a loop). I tried to check if the java error occurs due to a faulty structure of the json that I import (though all have the same structure and apparently no extra/missing square brackets). Find attached the json that jsonio is failing to import.

[tryoutput_83.txt](https://git

[2021-01-28 19:45] wbuchanan commented on #34
@emawbgit have you installed the other Java binary mentioned above?

[2021-01-29 07:28] emawbgit commented on #34
I had installed **brewscheme**. For StataOS and StataFileSystem not sure what should I do: I had manually installed the **clicmd**.ado, **sysresources**.ado [cfr the StataOS], and **filesys**.ado [cfr. StataFileSystem]. Yet, I keep on getting the error.
Maybe I'm missing something trivial, but do you think I should do something else?

[2021-01-29 10:02] wbuchanan commented on #34
@emawbgit
This program and the others all depend on https://github.com/wbuchanan/StataJavaUtilities.  So all of the helper classes I wrote to access the data and metadata are stored in that binary.  In earlier versions of brewscheme and the other packages, I had compiled that library with the other Java binaries.  The problem that caused was a classpath issue when one program used a different vers

[2021-01-29 10:38] emawbgit commented on #34
I've reinstalled the jsonio and the .jar has been downloaded again. Apparently this solved the issue and I can import whatever large number of json now. Thank you so much.

[2021-01-29 11:00] wbuchanan commented on #34
@emawbgit
Glad I could help

[2021-03-12 23:53] adempewolff opened #38 "-break- error, with no other debugging context"
Hello,

I installed jsonio using `net inst jsonio, from(https://wbuchanan.github.io/StataJSON/) replace`

I'm trying to use it to import a bulk data file from the US Energy Information Administration ([this](http://api.eia.gov/bulk/INTL.zip) one, an example of first object in file is provided below).
[code]
I try using the command:
`jsonio kv, file("path\to\file\INTL.json" elements("data") nourl`

[2021-03-13 00:02] wbuchanan commented on #38
@adempewolff
Can you try adding

[code]

Prior to running the command?  I'm hoping this might provide a bit more useful information that will be helpful for me to figure out what is going on.

[2021-03-13 00:20] adempewolff commented on #38
I removed most of the filepaths, but left the very end of them as I noticed that one of the filepaths in the "Classpaths" section is to a different subfolder and file.  Any chance that there is a namespace conflict between a global macro I have already defined and something that jsonio expects to be undefined?

[code]

[2021-03-13 00:24] adempewolff commented on #38
Hmm, that filepath seems to just be Stata's current working directory, so probably not the problem.

[2021-03-13 16:16] adempewolff commented on #38
A couple more notes: those errors posted above occur while running Stata 15 on my work computer, which runs Windows 10.  I get a different set of errors (below) when using jsonio with Stata 16 on my personal computer, which runs Ubuntu 20.04.  I can't tell whether this is perhaps just capturing more from the same errors, or whether it is a completely different issue, but I'll provide it in case it

[2021-03-13 16:29] wbuchanan commented on #38
@adempewolff
Do you have StataJavaUtilities installed on your Linux box?  The first few error messages tend to happen when that jar isn't available on the classpath.  https://github.com/wbuchanan/StataJavaUtilities.

Some of the internal methods in the libraries use Java's reflections methods to determine which methods to dispatch.

[2021-03-13 16:56] adempewolff commented on #38
I do not have that installed, what's the best installation option for it?  I can't seem to get `net install` to do the trick, do I just download the `javautils.ado` from that repository manually and throw it in my user ado directory?

I confess complete ignorance of how the stata calls java  My original assumption was that it would just use the system jre--and that maybe that wasn't configured cor

[2021-03-13 22:43] adempewolff commented on #38
The original mysterious `---Break---` was my fault.  I forgot that on windows when you rename a file using explorer, it doesn't not replace the original file extension.  So I thought I had renamed the file to `INTL.json` when it was in fact now `INTL.json.txt`.

That said, I'm still getting errors trying to read in the file, both before and after downloading `StataJavaUtilities.jar` and putting it

[2021-03-14 00:10] wbuchanan commented on #38
@adempewolff
Are you able to share a copy of the file you are trying to read/parse?  The exception that is being thrown is making me think there might be part of the file that doesn't completely conform with the JSON specification.

[2021-03-14 00:19] adempewolff commented on #38
Sure, it's a public dataset: [http://api.eia.gov/bulk/INTL.zip](http://api.eia.gov/bulk/INTL.zip).

That's a pretty large file though, so I've also uploaded a copy with only the first few objects.

[INTL_firstfew.txt](https://github.com/wbuchanan/StataJSON/files/6135845/INTL_firstfew.txt)

The data I want to extract is in a nested array of year-value pairs, which seems to be a bit different than o

[2021-03-14 04:04] adempewolff commented on #38
Thank you very much for your responsiveness to my issues.  If you want to continue trying to debug this issue, I'm happy to continue providing information and testing things as needed.  However, I ended up just using `infix` and regex commands to parse things manually, so I no longer need to get this working on my computer and with this file.

[2021-03-14 20:36] wbuchanan commented on #38
@adempewolff
I think I may have figured out what the problem is.  I've copied/pasted the first two objects from the file at the link you shared previously below to illustrate:

[code]

The issue here is that the file does not contain valid JSON.  In the [JSON Specification](https://www.json.org/json-en.html), objects are required to be delimited by a comma.  In the side bar on the right hand side

[2021-03-14 20:49] #28 closed, assigned to wbuchanan

[2021-03-14 20:50] #31 closed, assigned to wbuchanan

[2021-03-15 01:42] adempewolff commented on #38
Thanks for looking into it.  They claim to be JSON compliant, but that probably refers to results from individual API calls. I'm guessing whoever prepared these bulk download files just concatenated individual objects in whatever manner made the most sense to them.

I'm guessing I could use `-filefilter-` to replace the returns with commas and make it JSON compliant.  Coincidentally, the carriage

[2021-03-15 02:05] wbuchanan commented on #38
@adempewolff
If you have access to a *nix command line, it may be better to use `sed` instead of `filefilter`.  New line characters are allowed in string values of JSON, so you would specifically want to replace \}\n\{ with \}, \{.  That way any new lines embedded in strings are properly preserved.  `sed` is also fairly fast as well.

[2021-03-15 13:50] wbuchanan commented on #33
@homecls
Sorry it took a while to get back to this.  I just tried the example you provided above and this is what I copied from the resulting res.json file:

[code]

Can you confirm whether/if this is still an issue?

[2021-03-15 13:51] #34 closed, assigned to wbuchanan

[2021-03-15 13:52] wbuchanan commented on #35
@arpie71
What field is it that you added in the example above?

[2021-03-15 13:54] wbuchanan commented on #37
@py-mgmt
The issue is that your JSON is not strictly valid according to the RFC.  The objects should be separated by a comma.  If you have Stata 16 available I would recommend installing the `jsonlines` library and either outputting properly formed JSON, or using that library to parse the data you are working with.

[2021-04-20 03:42] Sophie-wang22 opened #39 "RV and KV only able to import one observation"
Hi! I'm trying to use this library to import the dataset from [this link](https://www.yelp.com/dataset) into STATA, however I'm only able to import a single observation. Or when I use the syntax below, no observations import at all (but the variable labels import correctly). I was wondering if I could get any help on importing the entire dataset into STATA. Thanks!

`jsonio rv, file("yelp_academic

[2021-07-29 22:03] mgutierrezc commented on #32
I'm also having the same issue running this command `jsonio kv, file("$first_round/participant_rounds.json") nourl`

[2022-10-11 12:25] iscambo opened #40 "I keep getting a break code."
Hi! Please, could you look into this problem? I keep gettin a Break error code when I try to run the following:

jsonio rv, file(https://www.receitaws.com.br/v1/cnpj/46447678000118) ob(1)

Thanks in advance!

[2022-10-11 12:27] wbuchanan commented on #40
@iscambo
What is the error that you are getting?  I need to be able to replicate your error in order to try to identify a fix for it.  Otherwise, if I ran into a different error I might fix something else and thing your issue is addressed.

[2022-10-11 12:28] wbuchanan commented on #39
@Sophie-wang22
can you provide all of the code you executed prior to the jsonio command?  Apologies for not seeing this for so long.

[2022-10-11 12:32] #38 closed, assigned to wbuchanan

[2022-10-11 12:32] #37 closed, assigned to wbuchanan

[2022-10-11 13:53] iscambo commented on #40
Hi! Thanks for the fast reply!! Does this help?

![image](https://user-images.githubusercontent.com/115553434/195110018-3470a46c-6042-4b6c-8a00-b57b82acde8f.png)